body{
  font-family: 'Comfortaa', cursive;
}

.movie-display{
  width: 300px;
  height: 500px;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.movie-image{
  width: 220px;
  height: auto;
  margin: 0 auto 0 auto;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-center{
  text-align: center;
}

.page-numbers{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0px 20px 0px;
}

.page-buttons{
  font-size: 20px;
  margin: 2px;
}