body{
  font-family: 'Comfortaa', cursive;
}

.movie-display{
  width: 300px;
  height: 400px;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.movie-image{
  height: 300px;
  width: auto;
  margin: 0 auto 0 auto;
}